# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Ball Roller.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\trent\Documents\School\Scripting for Animation\Code\1610Spring2021\Ball Roller\.idea\.idea.Ball Roller\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
