# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Lab 2 - Currently Unknown.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\trent\Documents\School\Scripting for Animation\Code\1610Spring2021\Lab 2 - Currently Unknown\.idea\.idea.Lab 2 - Currently Unknown\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
